@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --bg: #f4f0f1;
  --orange: #e94536;
  --blue: #130f31;
  --grey: #69696f;
  --darkgrey: #45454c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  overflow: scroll;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  line-height: 80px;
  z-index: 999;
  background-color: var(--bg);
  margin: 0 13%;
}

.logo {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  color: var(--blue);
}

.logo span {
  color: var(--orange);
}

.navItems {
  display: flex;
  line-height: 30px;
  align-items: center;
}

.navItems li {
  list-style: none;
  margin: 0 16px;
}

.navItems li a {
  font-size: 16px;
  font-weight: bold;
  color: var(--darkgrey);
  letter-spacing: 2px;
  text-decoration: none;
}

.navItems a:hover {
  color: var(--orange);
}

.navItems li a::after {
  content: "";
  display: block;
  border-bottom: 0.2rem solid var(--orange);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navItems li a:hover::after {
  transform: scaleX(0.7);
}

.blog {
  padding: 0 13%;
}

.blog h1 {
  text-align: center;
  font-size: 46px;
  margin: 2rem 0;
}

.projects {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.card {
  margin: 20px;
  background: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  overflow: hidden;
  width: 550px;
}

.card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.blog-category{
    font-size: 28px;
    font-weight: bold;
    color: var(--orange);
    padding: 5px 2px;

}

.card-body h2 {
  color: var(--blue);
  font-size: 32px;
}

.card-body p {
  font-size: 13px;
}

.project-item li {
  list-style: none;
}
